/* RULES FOR MAIN PART */
section{
    margin-bottom: 0;
}

.parentCat{
    display: flex;
    font-family: arial, sans-serif;
    min-height: 1290px;
}

/* MENU in body left */
#menuLeft{
    width: 20%;
    padding: 2em;
    color: black;
    background: linen;

    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-right: 5px solid dodgerblue;
    border-left: 5px solid dodgerblue;
}


.menuButton {
    background-color: dodgerblue;
    /*width: 120%;*/
    min-width: 100%;
    max-width: 120%;
    border: 3px solid black;
    height: 30px;
    margin: 4px 10px 30px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}

.menuButton a{
    color: white;
    text-decoration: none;
}
.menuButton a:hover {
    color: black;
    text-decoration: none;
}


/*Active button in main left menu*/
.active_menuButton {
    background-color: lightsteelblue;
    /*width: 120%;*/
    min-width: 100%;
    max-width: 120%;
    height: 30px;
    border: 3px solid black;
    margin: 4px 10px 30px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}

.active_menuButton a{
    color: white;
    text-decoration: none;
}

/* MENU RIGHT */
#menuRight {
    /* margin: 0 auto; */
    max-width: 1800px;
    padding: 40px 40px 40px 40px;
    background-color: lightsteelblue;
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    width: 80%;

    border-right: 5px solid dodgerblue;
}

#menuRight h1 {
    color: darkblue;
    /* text-decoration: underline;
    text-decoration-color: blue; */
    text-align: center;
}

#menuRight p {
    text-align: justify;
    color: darkblue;
}

#menuRight li{
    text-align: justify;
    vertical-align: middle;
    color: darkblue;
}

/* Title in button form in the right menu*/
.button {
    margin-top: 15px;
    background-color: dodgerblue;
    width: 100%;
    height: 35px;
    /* margin: 4px 10px 0 0; */
    /*margin-right: 10px;
    margin-left: 10px;*/
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 3px solid darkblue;
}


.button a{
    color: white;
    text-decoration: none;
}

.button a:hover {
    color: dimgray;
    text-decoration: none;
}



/* Arrange the images as horizontal table in gallery */
#gallery{
    width: 90%;
    /*margin: auto;*/
    padding-left:0;
}

#gallery a{
    text-align: center;
    width: 16%;
}

#gallery img{
    width: 100%;
    max-width: 150px;
    padding: 20px;
}

/* Image right menu below title */
.responsive-image{
    max-width: 30%;
    padding-left: 35%;
}
