/*Rules for the header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0;
    border: 3px solid dodgerblue;
    /* background-color: dimgray; */
    background-color: darkorange;
}

/* Rules for the center header */
.dropdown {
    position: relative;
    display: inline-block;
   /* margin-top: 60px; */
    /* margin-right: 130px; */
}

.dropdownSelect {
    width: 189px;
    padding: 5px;
    /* background-color: dodgerblue; */
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    border-radius: 5px;
    border: 3px solid white;
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width: 200px;
    padding-top: 5px;
    z-index: 1;
    border-radius: 5px;
    /* background-color: dodgerblue; */
    background-color: dodgerblue;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid white;
}

.dropdown:hover .dropdownContent {
    display: block;
}

/*.dropdown:hover .dropdownSelect {
    background-color: #3e8e41;
}*/

.dropdownContent a {
    color: white;
    display: block;
    text-decoration: none;
    border-top: 3px solid white;

    /* Adds space above and below the space surrounding the a element */
    padding-top: 5px;
    padding-bottom: 10px;

    /* Removes the space between each a element's neighbor (above and under) */
    margin-top: -21px;
    margin-bottom: -20px;
}

.dropdownContent a:hover {
    color: black;
    text-decoration: none;
    /* background-color: #ddd; */
    background-color: lightcyan;
}

/* rules for the right header */
#rightHeader {
    display: flex;
}

.buttonHeader {
   /* background-color: dodgerblue; */
    margin-top: 15px;
    background-color: dodgerblue;
    width: 80px;
    height: 30px;
    /* margin: 4px 10px 0 0; */
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 3px solid white;
}

.buttonHeader a{
    color: white;
    text-decoration: none;
}

.buttonHeader a:hover {
    color: dimgray;
    text-decoration: none;
}



/*RULES FOR LEFT HEADER*/
#leftHeader{
    display: flex;
}

/* RULES FOR MAIN PART */
section{
    margin-bottom: 0;
    margin-left: 0;
}

.parent{
    display: flex;
    font-family: arial, sans-serif;
}

#mainLeft{
    width: 50%;
    padding: 2em;
    color: white;
    /*background: deepskyblue;*/
    background: black;
    min-height: 500px;

    border-right: 3px solid dodgerblue;
    border-left: 3px solid dodgerblue;
}

#mainLeft h1{
    /* color: lightslategrey;*/
    color: dodgerblue;
}

#mainRight{
    width: 50%;
    padding: 2em;
    color: dodgerblue;
    min-height: 500px;
    background: black;
    border-right: 3px solid dodgerblue;
}

/*Arrange the images as horizontal table */
#img_category{
    width: 90%;
    margin: auto;
    padding-left:14%;
}

#img_category a{
    text-align: center;
    width: 16%;
}

#img_category img{
    width: 100%;
    max-width: 150px;
    padding: 20px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    border: 3px solid dodgerblue;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 15px 0;
    font-size: 0.8em;
    /*background-color: dimgray;*/
    background-color: darkorange;
}

#footerLeft {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0 10px;
    width: 300px;
}

#footerLeft a{
    padding-top: 12px;
}

#footerRight {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    width: 80px;
    padding-top: 12px;
}
